In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from imblearn.over_sampling import SMOTE
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report

In [2]:
numerical = pd.read_csv('files_for_lab/numerical.csv')
numerical.columns = [columns_name.lower() for columns_name in numerical.columns]
numerical.columns = [columns_name.replace(' ', '_') for columns_name in numerical.columns]
numerical

,tcode,age,income,wealth1,hit,malemili,malevet,vietvets,wwiivets,localgov,...,cardgift,minramnt,maxramnt,lastgift,timelag,avggift,controln,hphone_d,rfa_2f,cluster2
0,0,60.000000,5,9,0,0,39,34,18,10,...,14,5.0,12.0,10.0,4,7.741935,95515,0,4,39
1,1,46.000000,6,9,16,0,15,55,11,6,...,1,10.0,25.0,25.0,18,15.666667,148535,0,2,1
2,1,61.611649,3,1,2,0,20,29,33,6,...,14,2.0,16.0,5.0,12,7.481481,15078,1,4,60
3,0,70.000000,1,4,2,0,23,14,31,3,...,7,2.0,11.0,10.0,9,6.812500,172556,1,4,41
4,0,78.000000,3,2,60,1,28,9,53,26,...,8,3.0,15.0,15.0,14,6.864865,7112,1,2,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,1,61.611649,5,9,0,14,36,47,11,7,...,0,25.0,25.0,25.0,9,25.000000,184568,0,1,12
95408,1,48.000000,7,9,1,0,31,43,19,4,...,0,20.0,20.0,20.0,9,20.000000,122706,1,1,2
95409,1,60.000000,5,9,0,0,18,46,20,7,...,4,3.0,10.0,10.0,3,8.285714,189641,1,3,34
95410,0,58.000000,7,9,0,0,28,35,20,9,...,18,5.0,21.0,18.0,4,12.146341,4693,1,4,11
95411,2,80.000000,5,8,3,1,33,22,27,8,...,11,10.0,201.0,100.0,6,96.794872,185114,1,1,12

In [3]:
categorical = pd.read_csv('files_for_lab/categorical.csv')
categorical.columns = [columns_name.lower() for columns_name in categorical.columns]
categorical.columns = [columns_name.replace(' ', '_') for columns_name in categorical.columns]
categorical

,state,cluster,homeownr,gender,datasrce,rfa_2r,rfa_2a,geocode2,domain_a,domain_b,...,dob_yr,dob_mm,minrdate_yr,minrdate_mm,maxrdate_yr,maxrdate_mm,lastdate_yr,lastdate_mm,firstdate_yr,firstdate_mm
0,IL,36,H,F,3,L,E,C,T,2,...,37,12,92,8,94,2,95,12,89,11
1,CA,14,H,M,3,L,G,A,S,1,...,52,2,93,10,95,12,95,12,93,10
2,NC,43,U,M,3,L,E,C,R,2,...,0,2,91,11,92,7,95,12,90,1
3,CA,44,U,F,3,L,E,C,R,2,...,28,1,87,11,94,11,95,12,87,2
4,FL,16,H,F,3,L,F,A,S,2,...,20,1,93,10,96,1,96,1,79,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,other,27,H,M,3,L,G,C,C,2,...,0,2,96,2,96,2,96,2,96,2
95408,TX,24,H,M,3,L,F,A,C,1,...,50,1,96,3,96,3,96,3,96,3
95409,MI,30,H,M,3,L,E,B,C,3,...,38,1,96,3,95,1,96,10,94,10
95410,CA,24,H,F,2,L,F,A,C,1,...,40,5,90,11,96,8,97,1,86,12
95411,NC,24,U,F,3,L,G,C,C,1,...,18,1,88,12,93,12,96,12,88,3

In [4]:
target = pd.read_csv('files_for_lab/target.csv')
target.columns = [columns_name.lower() for columns_name in target.columns]
target.columns = [columns_name.replace(' ', '_') for columns_name in target.columns]
target

       target_b  target_d
0             0       0.0
1             0       0.0
2             0       0.0
3             0       0.0
4             0       0.0
...         ...       ...
95407         0       0.0
95408         0       0.0
95409         0       0.0
95410         1      18.0
95411         0       0.0

[95412 rows x 2 columns]

In [5]:
# Concatenating the three given datasets

data = pd.concat([numerical, categorical, target], axis=1)
data

,tcode,age,income,wealth1,hit,malemili,malevet,vietvets,wwiivets,localgov,...,minrdate_yr,minrdate_mm,maxrdate_yr,maxrdate_mm,lastdate_yr,lastdate_mm,firstdate_yr,firstdate_mm,target_b,target_d
0,0,60.000000,5,9,0,0,39,34,18,10,...,92,8,94,2,95,12,89,11,0,0.0
1,1,46.000000,6,9,16,0,15,55,11,6,...,93,10,95,12,95,12,93,10,0,0.0
2,1,61.611649,3,1,2,0,20,29,33,6,...,91,11,92,7,95,12,90,1,0,0.0
3,0,70.000000,1,4,2,0,23,14,31,3,...,87,11,94,11,95,12,87,2,0,0.0
4,0,78.000000,3,2,60,1,28,9,53,26,...,93,10,96,1,96,1,79,3,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,1,61.611649,5,9,0,14,36,47,11,7,...,96,2,96,2,96,2,96,2,0,0.0
95408,1,48.000000,7,9,1,0,31,43,19,4,...,96,3,96,3,96,3,96,3,0,0.0
95409,1,60.000000,5,9,0,0,18,46,20,7,...,96,3,95,1,96,10,94,10,0,0.0
95410,0,58.000000,7,9,0,0,28,35,20,9,...,90,11,96,8,97,1,86,12,1,18.0
95411,2,80.000000,5,8,3,1,33,22,27,8,...,88,12,93,12,96,12,88,3,0,0.0

In [6]:
# Checking for missing values

print(data.isna().values.any())

False

In [7]:
# X-y split and dropping target_d (for Regression purposes) because we will work with a Classification Model, and target_b (our target feature)
# Encoding the categorical data

X = data.drop(['target_d', 'target_b'], axis=1)
y = data['target_b']
X = pd.get_dummies(X, columns=X.select_dtypes(include=['object']).columns)

In [8]:
y.value_counts()

0    90569
1     4843
Name: target_b, dtype: int64

In [9]:
# Applying SMOTE

smote = SMOTE()

X_sm_train, X_sm_test, y_sm_train, y_sm_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)

X_sm_train, y_sm_train = smote.fit_resample(X_sm_train, y_sm_train)

In [10]:
y_sm_train.value_counts()

0    72455
1    72455
Name: target_b, dtype: int64

In [11]:
classification = RandomForestClassifier(criterion='entropy', random_state=42, n_jobs=-1)
classification.fit(X_sm_train, y_sm_train)

predictions = classification.predict(X_sm_test)
print(classification_report(y_sm_test, predictions))

              precision    recall  f1-score   support

           0       0.95      1.00      0.97     18114
           1       0.00      0.00      0.00       969

    accuracy                           0.95     19083
   macro avg       0.47      0.50      0.49     19083
weighted avg       0.90      0.95      0.92     19083

In [12]:
# Using AUC-ROC metric for evaluating the model's performance - far from 1.0 indicates that the model is not doing a good job of separating the two classes, regardless of the class imbalance

from sklearn.metrics import roc_auc_score

probas = classification.predict_proba(X_sm_test)
auc_roc = roc_auc_score(y_sm_test, probas[:, 1])

print(f"AUC-ROC score: {auc_roc}")

AUC-ROC score: 0.5716832894021842

In [ ]:
# Trying Hyperparameter tuning - selecting the best set of hyperparameters for the model

from sklearn.model_selection import GridSearchCV

param_grid = {
    'n_estimators': [50, 100, 200],
    'max_depth': [None, 5, 10],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4],
    'bootstrap': [True, False]
}

model = RandomForestClassifier(random_state=42)

grid_search = GridSearchCV(estimator=model, param_grid=param_grid, cv=5, n_jobs=-1)
grid_search.fit(X_sm_train, y_sm_train)

print('Best parameters: ', grid_search.best_params_)
print('Best score: ', grid_search.best_score_)

Unfortunately, Hyperparameter Tunning was taking too long to run. The objective of using it was to identify the best hyperparameters to use in the ML model, because after applying SMOTE, training and running the model, the metrics were not good for the initially imbalanced data in the target variable (target_b). To run this last piece of code, it seems that more computing power / time is needed.